.root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-top: spacing(2);
}

.scrollContainer {
  display: flex;
  gap: spacing(2);
  align-items: center;
  justify-content: left;
  padding-right: spacing(2);
  padding-bottom: spacing(4);
  padding-left: spacing(2);
  overflow-y: auto;
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
}
