.hour {
  padding: spacing(2);
  margin-bottom: spacing(1);
  overflow-y: hidden;
  user-select: none;
  background: var(--color-bg-lite);
  border-radius: spacing(2);
}

.preview {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .left {
    width: 72px;

    & .hourText {
      color: var(--color-text-primary);
    }

    & .temps p {
      display: inline-block;
      margin-top: spacing(1);
      font-weight: 700;
      color: var(--color-text-primary);

      &::after {
        content: "\00b0";
      }

      &:last-of-type {
        margin-left: spacing(1);
        font-weight: 400;
      }
    }
  }
}
