@import "src/variables";
.containerMain {
    height: 100%;
}
.containerCurrentLocation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.containerGrid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.textCity {
    margin-top: 1rem;
}
.textTempr {
    margin-top: 2rem;
}
.textWthr {
    margin-left: 1rem;
}
.containerWthr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 2rem;
}
.btn {
    width: 12rem;
    height: 3rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    background: none;
    border: 2px solid $color-primary;
    border-radius: 4px;
    color: $color-primary;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}