@import "src/variables";
.item {
    height: 80px;
    width: 80px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon {
    color: $color-text-primary;
    font-size: 22px;
    margin-bottom: 8px;
}
.valueText {
    color: $color-text-primary;
    font-size: 14px;
}
.descText {
    color: $color-text-primary;
    font-size: 12px;
}