.hour {
  position: relative;
  user-select: none;
  transition: none;
  overflow-y: hidden;
  width: calc(100% - 32px);
  margin: 0 16px;
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(var(--color-white-rgb), 0.2);
  border: 1px solid rgba(var(--color-white-rgb), 0.4);
  border-radius: 8px;
}
.hour:hover {
  cursor: pointer;
}
.preview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    text-align: left;
  }
}
.left {
  width: 72px;
}
.weatherIcon {
  margin-right: 4px;
  font-size: 24px;
  width: 24px;
  color: var(--color-white);
}
.row {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
}
.windIcon {
  font-size: 26px;
  color: var(--color-white);
}
.value {
  font-weight: 700;
}
.temprText {
  margin-top: 4px;
  font-size: 16px;
}
.expanded {
  margin-top: 24px;
  width: 100%;
}
.containerExpanded {
  position: absolute;
  top: 48px;
  width: 90%;
}
