.hour {
  position: relative;
  user-select: none;
  transition: none;
  overflow-y: hidden;
  width: calc(100% - 32px);
  margin: 0 16px;
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  background-color: rgba(var(--color-white-rgb), 0.2);
  border: 1px solid rgba(var(--color-white-rgb), 0.4);
  border-radius: 8px;
  .left p {
    text-align: left;
    margin-top: 2px;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
      margin-right: 16px;
    }
    & i {
      margin-right: 4px;
      font-size: 24px;
      width: 24px;
      color: var(--color-white);
    }
  }
  .hourText {
    font-weight: 700;
  }
  .temprText {
    font-weight: 400;
    font-size: 16px;
  }
}
.hour:hover {
  cursor: pointer;
}
.preview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expanded {
  margin-top: 24px;
  width: 100%;
}
.containerExpanded {
  position: absolute;
  top: 48px;
  width: 90%;
}
