.masterContainer {
  z-index: 100;
}
.loadingContainer {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 32px;
  }
}
.dialogContainer {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: rgba(var(--color-background-cover-rgb), 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms;
}
.entryAnimation {
  opacity: 1;
}
.exitAnimation {
  opacity: 0;
}

.dialogWrapper {
  z-index: 100;
  margin-left: 16px;
  margin-right: 16px;
  background: var(--color-background-alt);
  padding: 32px;
  border-radius: 12px;
  h2 {
    color: var(--color-text-primary);
    text-align: start;
    font-size: 18px;
    margin: 0;
  }
  p {
    color: var(--color-text-primary);
    margin-top: 8px;
  }
  button {
    margin-top: 16px;
    transition: all 200ms;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary);
    padding: 8px 16px;
    border-radius: 4px;
    background: none;
    text-transform: uppercase;
    &:hover {
      background: rgba(var(--color-primary-rgb), 0.2);
      cursor: pointer;
    }
    &:active {
      transform: scale(0.9);
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
}

.btnWrapper {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
