.root {
  position: relative;
  width: 100%;

  @media ($tablet-landscape-up) {
    height: spacing(100);
    overflow-y: auto;
  }
}

.margin {
  margin: 0 spacing(1);

  @media ($tablet-landscape-down) {
    margin: 0;
  }
}

.bg {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  height: spacing(50);
  margin-top: spacing(-50);
  pointer-events: none;
  background-size: cover;
  mask: linear-gradient(black 70%, transparent 100%);
  backdrop-filter: blur(20px);

  @media ($tablet-landscape-down) {
    height: spacing(25);
    margin-top: spacing(-25);
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: spacing(2, 4);
  transition: all 300ms linear;
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-text-primary);
}

.colorIcon {
  width: 48px;
  height: 48px;
}

.horizon {
  display: flex;
  gap: spacing(1);
  align-items: center;
  justify-content: center;

  & p {
    font-size: 14px;
    color: var(--color-text-primary);

    &:first-of-type {
      font-weight: 600;
    }
  }
}

.titleWrapper {
  & h1 {
    margin-top: spacing(1);
  }

  & p {
    margin-top: spacing(1);
  }
}

.graphWrapper {
  width: 100%;
  margin-top: spacing(2);

  @media ($tablet-landscape-up) {
    position: sticky;
    top: 95px;
    z-index: 10;
    margin-top: 0;
  }
}

.scrollWrapper {
  overflow-y: auto;
}

.hoursWrapper {
  padding-bottom: 0;
}

@media ($tablet-landscape-up) {
  .icon {
    display: none;
  }

  .titleWrapper {
    margin-top: spacing(-6);
  }
}
