@import "src/variables";

.day {
    margin-right: 16px;
    height: 100%;
    min-width: 88px;
    max-width: 88px;
    border-radius: 8px;
    border: 3px solid $color-text-primary;
    color: $color-text-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: ease 100ms;
    &:last-of-type {
        margin-right: 0;
    }
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(0.95);
    }
}
.dayName {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.temprs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.temprs p {
    font-size: 16px;
    &:first-of-type {
        font-weight: 900;
    }
}
.icon {
    font-size: 24px;
}