@import "src/variables";

.containerScroll {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 154px;
    padding-bottom: 16px;
    scrollbar-color: rgba($color-text-primary, 0.2) rgba(#fff, 0);   
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        background: none;
        width:4px;
        height: 12px;
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($color-text-primary, 0.2);
        border-radius:8px;
    }
    &::-webkit-scrollbar-button {display:none}
}

.containerDays {
    margin: 0 auto;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
