.shadow {
  position: absolute;
  top: 0;
  z-index: 200;
  width: 100%;
  min-height: 100%;
  background: var(--color-bg-shadow);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  width: calc(100% - spacing(2));
  max-width: var(--modal-max-width);
  padding: spacing(3);
  overflow: auto;
  background: var(--color-bg-lite);
  border-radius: spacing(2);
  transform: translateX(-50%) translateY(-50%);

  @media ($tablet-portrait-up) {
    padding: spacing(6);
  }
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: spacing(2);
  color: var(--color-text-primary);
}

.content {
  width: 100%;
  max-height: 70vh;
  overflow: auto;
}
