.root {
}
.card {
  flex-shrink: 0;
  margin-top: spacing(4);
  background: #ffffff66;
  border-radius: 8px;
  height: spacing(25);
  margin: 0 spacing(2);
  margin-bottom: spacing(2);
  width: calc(100% - spacing(4));
  & h3 {
    font-size: 18px;
    font-weight: 500;
  }
}
