.card {
  position: relative;
  flex-shrink: 0;
  width: calc(100% - spacing(4)) !important;
  height: spacing(25);
  padding: spacing(1, 1, 1, 1);
  margin: 0 spacing(2);
  margin-bottom: spacing(2);
  background-color: #ffffff;
  border-radius: spacing(2);

  & h3 {
    margin-top: spacing(1);
    margin-bottom: spacing(1);
    margin-left: spacing(1);
    font-size: 18px;
    font-weight: 500;
    color: black;
  }

  @media ($tablet-portrait-up) {
    width: 100% !important;
    height: 100%;
    padding: spacing(1, 1, 4, 1);
    margin: 0;
    border-radius: 0;

    &.first {
      border-top-left-radius: spacing(1);
      border-bottom-left-radius: spacing(1);
    }

    &.last {
      border-top-right-radius: spacing(1);
      border-bottom-right-radius: spacing(1);
    }
  }
}
