.root {
  position: relative;
  border-radius: spacing(2);
}

.default {
  color: var(--color-text-primary);
  background: var(--color-card);
}

.day {
  color: var(--color-day-dark);
  background: var(--color-day);
}

.night {
  color: var(--color-text-primary-inv);
  background: var(--color-night);
}

.rain {
  color: var(--color-text-primary-inv);
  background: var(--color-rain);
}

.dusk {
  color: var(--color-text-primary-inv);
  background: var(--color-dusk);
}

.transparent {
  color: var(--color-text-primary);
  background: transparent;
}
