.root {
  position: relative;
  border-radius: spacing(2);
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.default {
  color: var(--color-text-primary);
  background: var(--color-card);
}

.day {
  color: var(--color-day-dark);
  background: var(--color-day);
}

.night {
  color: white;
  background: var(--color-night);
}

.morning {
  color: black;
  background: var(--color-morning);
}

.medium {
  color: white;
  background: var(--color-medium);
}

.dark {
  color: white;
  background: var(--color-dark);
}

.transparent {
  color: var(--color-text-primary);
  background: transparent;
}
