.root {
  border-radius: spacing(2);
  position: relative;
}
.default {
  background: var(--color-card);
  color: var(--color-text-primary);
}
.day {
  background: var(--color-day);
  color: var(--color-day-dark);
}
.night {
  background: var(--color-night);
  color: var(--color-text-primary-inv);
}
.rain {
  background: var(--color-rain);
  color: var(--color-text-primary-inv);
}
.dusk {
  background: var(--color-dusk);
  color: var(--color-text-primary-inv);
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content {
  width: 100%;
}
.hidden {
  opacity: 0;
}
