.title {
  font-size: 24px;
  font-weight: 700;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: spacing(2);
  color: var(--color-text-primary);
}

.content {
  width: 100%;
  max-height: 50%;
  overflow: auto;
  overscroll-behavior-y: contain;
  scrollbar-width: none;

  & ::-webkit-scrollbar {
    width: 20px;
  }

  & ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  & ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    background-clip: content-box;
    border: 6px solid transparent;
    border-radius: 20px;
  }
}
