.containerHours {
  max-width: 512px;
  margin: 0 auto;
}
.containerScroll {
  overflow-y: auto;
  height: calc(100% - 56px);
  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.containerTop {
  margin: 0 auto;
  width: calc(100% - 48px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.toolbar {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbarWrapperTitle {
  display: flex;
  align-items: center;
  justify-content: left;
}
.toolbarIcon {
  color: var(--color-white);
  font-size: 1.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
.toolbarText {
  font-size: 1rem;
  margin-left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapperSun {
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  & i {
    color: var(--color-white);
    font-size: 24px;
    margin: 16px;
  }
  & p:first-of-type {
    font-weight: 700;
  }
}
