.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-background-cover-rgb), 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog {
  width: 80%;
  max-width: 304px;
  padding: 16px;
  background-color: var(--color-background-alt);
  border-radius: 8px;
  & h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 8px;
    display: block;
    color: var(--color-text-primary);
    text-align: left;
  }
  & p {
    margin-top: 12px;
    margin-left: 8px;
    color: var(--color-text-secondary);
    text-align: left;
  }
}
.actions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  & div {
    margin-left: auto;
  }
}
