@import "src/variables";
.grid {
    width: 100%;
    max-width: 400px;
}
.gridAlt {
    max-width: none;
}
.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.rowAlt {
    margin-top: 16px;
    justify-content: space-between;
}
.row:last-of-type {
    margin-top: 16px;
}
