@import "src/variables";
.item {
    height: 72px;
    width: 72px;
    background-color: $color-text-primary-inv;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon {
    font-size: 2rem;
}
.valueText {
    font-size: 0.8rem;
}
.descText {
    font-size: 0.7rem;
}