@import "src/variables";

.containerSettings {
  max-width: 512px;
  margin: 0 auto;
}
.containerScroll {
  height: calc(100% - 56px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.toolbar {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.toolbarIcon {
  color: $color-text-primary;
  font-size: 1.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
.toolbarText {
  font-size: 1rem;
  margin-left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
