@import "src/variables";

.containerMain {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    z-index: 10;
    width: 80%;
    height: 100%;
    background-color: $color-text-primary;
    padding: 12px;
    overflow-y: auto;
    scrollbar-color: rgba($color-text-primary, 0.2) rgba(#fff, 0);   
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        background: none;
        width:4px;
        height: 12px;
    }
    &::-webkit-scrollbar-track {
        background: none;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($color-text-primary, 0.2);
        border-radius:8px;
    }
    &::-webkit-scrollbar-button {display:none}
}
@media(min-width: 512px) {
    .containerMain {
        width: 400px;
    }
}