@import "src/variables";

.loading {
    background-color: $color-text-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.loading p {
    color: $color-text-primary-inv;
}