// Main screen content
.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: calc(100% - 220px);
}

// Main weather module
.containerTopInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.textTempr {
  margin-right: 16px;
}
.containerWthr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerWthrText {
  margin-left: 16px;
  & p {
    text-align: left;
  }
}
.textWthr {
  font-size: 20px;
  font-weight: 600;
}
.iconWthr {
  color: var(--color-white);
  font-size: 32px;
}
.containerGrid {
  width: 100%;
  display: grid;
  place-items: center;
}
.copyText {
  margin: 0 16px;
  margin-top: 16px;
  opacity: 0.8;
}
@media (min-height: 640px) {
  .containerTopInfo {
    display: block;
  }
  .textTempr {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
