@import "src/variables";

.containerMain {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    z-index: 10;
    width: 80%;
    height: 100%;
    background-color: $color-text-primary;
    padding: 12px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
@media(min-width: 512px) {
    .containerMain {
        width: 400px;
    }
}