$color-primary: #3f9784;
$color-secondary: #3cecc6;
$color-error: #ed5252;
$color-text-primary: #ffffff;
$color-text-secondary: #a7a7a7;
$color-text-primary-inv: #212121;
$color-text-secondary-inv: #6e6e6e;
$color-background: #3f9784;
$color-backgroundAlt: #000;
$color-background-dark: #e5e8ec;
