$color-primary: #1cbe83;
$color-error: #ed5252;
$color-text-primary: #ffffff;
$color-text-secondary: #dadada;
$color-text-primary-inv: #212121;
$color-text-secondary-inv: #6e6e6e;
$color-background: #1D976C;
$color-backgroundAlt: #1AB47D;
$color-background-dark: #e5e8ec;
