@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

* {
    box-sizing: border-box;
    transition: all ease-in-out 50ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
    animation: fadein 0.2s;
    text-rendering: optimizeLegibility;
    height: 100%;
}

#root {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(0deg, $color-background 0%, $color-backgroundAlt 100%);
    text-align: center;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    user-select: none;
}

button {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
}

h2 {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 0.9rem;
    display: inline-block;
}

label {
    font-family: 'Roboto', sans-serif;
    color: $color-text-primary;
    font-size: 1rem;
    text-align: left;
    display: inline-block;
}
p {
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: $color-text-primary;
    font-size: 0.9rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    user-select: none;
}

ul {
    list-style-type: none;
}
.containerMain {
    height: 100%;
}
.containerPages {
    height: 100%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

@media(min-width: 512px) {

}