@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  text-rendering: optimizeLegibility;
  height: 100%;
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --color-primary: #3f9784;
  --color-primary-rgb: #{hexToRGB(#3f9784)};
  --color-secondary: #3f9784;
  --color-secondary-rgb: #{hexToRGB(#3f9784)};
  --color-error: #ed5252;
  --color-text-primary: #212121;
  --color-text-secondary: #6e6e6e;
  --color-text-primary-inv: #fff;
  --color-text-secondary-inv: #a7a7a7;
  --color-background: #3f9784;
  --color-background-alt: #fff;
  --color-background-dark: #e9ebf5;
  --color-background-dark-rgb: #{hexToRGB(#e9ebf5)};
  --color-background-cover: #212121;
  --color-background-cover-rgb: #{hexToRGB(#212121)};
  --color-white: #fff;
  --color-white-rgb: #{hexToRGB(#ffffff)};
}

@media (prefers-color-scheme: dark) {
  :root {
    height: 100%;
    --color-primary: #3f9784;
    --color-secondary: #3cecc6;
    --color-error: #ed5252;
    --color-text-primary: #ffffff;
    --color-text-secondary: #a7a7a7;
    --color-text-primary-inv: #212121;
    --color-text-secondary-inv: #6e6e6e;
    --color-background: #3f9784;
    --color-background-alt: #000;
    --color-background-dark: #38393b;
    --color-background-cover: #212121;
    --color-white: #ffffff;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: var(--color-background);
  text-align: center;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: var(--color-white);
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
}

h2 {
  color: var(--color-white);
  font-weight: 700;
  font-size: 0.9rem;
  display: inline-block;
}

label {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  font-size: 1rem;
  text-align: left;
  display: inline-block;
}
input {
  font-family: "Roboto", sans-serif;
  background: none;
  color: var(--color-text-primary-inv);
  padding: 0;
  margin: 0;
  border: none;
  font-size: 16px;
  &::placeholder {
    color: var(--color-text-secondary-inv);
  }
  &:focus {
    outline: none;
  }
}
button {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  color: var(--color-white);
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  transition: ease 100ms;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}
.buttonAlt {
  padding: 12px 16px;
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  &:hover {
    cursor: pointer;
    background-color: rgba(var(--color-primary-rgb), 0.2);
  }
  &:active {
    transform: scale(0.95);
  }
}
p {
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  user-select: none;
}

ul {
  list-style-type: none;
}
.screen {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.fragment {
  height: calc(100% - 56px);
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}
