.root {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.hours {
  display: none;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

@media ($tablet-landscape-up) {
  .hours {
    display: unset;
  }

  .root {
    display: grid;
    grid-template-columns: [col1-start] 60% [col-end col2-start] 40% [col2-end];
  }

  .col {
    display: block;
  }
}
