.containerMain {
  background: var(--color-background-alt);
  overflow-y: auto;
}
.containerCharts {
  margin: 32px auto;
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapperGraph {
  width: 100%;
  max-width: 800px;
}
.toolbar {
  height: 62px;
  width: 100%;
  background: var(--color-background);
}
.toolbarContent {
  margin: 0 auto;
  max-width: 512px;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}
.toolbarIcon {
  color: var(--color-white);
  font-size: 1.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
.toolbarText {
  font-size: 1rem;
  margin-left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.containerChips {
  position: absolute;
  bottom: 24px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 800px) {
  .containerChips {
    position: static;
    transform: none;
    left: 0;
    bottom: 0;
    margin: 32px 0;
  }
}
