@import "src/variables";

.containerMain {
    background: #000;
}
.containerCharts {
    max-width: 512px;
    margin: 0 auto;
    height: calc(100% - 56px);
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
.toolbar {
    height: 56px;
    width: 100%;
    background: $color-backgroundAlt;
}
.toolbarContent {
    margin: 0 auto;
    max-width: 512px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.toolbarIcon {
    color: $color-text-primary;
    font-size: 1.4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}
.toolbarText {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}