.root {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-top: spacing(2);

  @media ($tablet-portrait-up) {
    justify-content: flex-start;
  }
}

.scrollContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: spacing(6);
  overflow-x: auto;
  scrollbar-width: 0;

  & > div {
    margin-left: spacing(2);

    &:last-of-type {
      padding-right: spacing(2);
    }
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }

  &::after {
    padding-right: 0.02px;
    content: "";
  }

  @media ($tablet-portrait-up) {
    flex-wrap: wrap;
    margin-top: spacing(-1.3);

    & > * {
      margin-top: spacing(4);
    }
  }
}
