@import "src/variables";
.grid {
    width: 100%;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.row:last-of-type {
    margin-top: 16px;
}
