$maxHeight: 760px;
.root {
  display: grid;
  grid-template-columns:
    [full-start] spacing(2) [wrapper-start]
    minmax(0, auto) [wrapper-end] spacing(2) [full-end];
  & > * {
    grid-column: wrapper;
  }
  & > .fullWidth {
    grid-column: full;
  }
}
.location {
  margin-top: spacing(1);
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: spacing(2);
  & h1 {
    font-size: 18px;
  }
}

.compactable {
  width: 100%;
  @media (max-height: $maxHeight) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: spacing(5);
  }
}

.temperature {
  margin-top: spacing(4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h2 {
    font-size: 96px;
    font-weight: 400;
    position: relative;
    &:after {
      content: "\00b0";
      position: absolute;
      font-size: 56px;
      top: 0;
      right: negative(spacing(1));
    }
  }
  & h3 {
    font-size: 18px;
    font-weight: 400;
  }
  @media (max-height: $maxHeight) {
    margin: 0;
  }
}

.weather {
  margin-top: spacing(4);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: spacing(1);
    & p {
      font-size: 14px;
      font-weight: 600;
    }
  }
  & .compensatedIcon {
    width: spacing(5);
    height: spacing(5);
    margin-right: negative(spacing(1));
  }
  @media (max-height: $maxHeight) {
    margin-top: spacing(3);
    width: auto;
    flex-direction: column;
    align-items: start;
    height: spacing(17);
    & div {
      align-items: center;
      gap: spacing(1);
    }
    & .compensatedContainer {
      position: relative;
      top: negative(spacing(1));
      left: negative(spacing(1));
    }
  }
}
